<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook</title>
     <link href="{% static 'css/one.css' %}" type="text/css" rel="stylesheet">
       <link rel = "icon" href ="{% static 'image/facebk.png' %}" type = "image/x-icon">
</head>
<body>

 <div class="container">


        <div class="header">
            <div class="logo">
                <a class="logo-text" href="1.html"> facebook </a>
            </div>
            {% block content %}
            <div class="login">
                 <form action="login" method="POST">

                {% csrf_token %}

                    <table class="login-controls">
                        <tr>
                            <td><label class="login-label">Emails</label></td>
                            <td><label class="login-label">Password</label></td>

                        </tr>
                        <tr>
                            <td><input type="text" name="email"></td>
                            <td><input type="password" name="passw"></td>
                            <td><input class="sub-btn" type="submit" value="Login"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><label class="login-label2">Forgotten account?</label></td>

                        </tr>
                    </table>
                </form>

            </div>


        </div>


        <div class="main-body">
            <div class="left-session">
                <p class="para">
                    Facebook helps you connect and share with the <br> people in your life.
                </p>
                <img class="image" src="{% static 'image/8.png' %}" alt="nope">
            </div>
             <form action="register" method="POST">

                {% csrf_token %}
                  <center><h3><i>{{error}}</i></h3></center>
            <div class="right-session">

                <h1 class="one">Create an account</h1>
                <p class="on">It's quick and easy.</p>
                <form class="signup id=sign">
                <input name="name"class="key" type="text" placeholder="First name">
                <input name="lastname"class="key" type="text" placeholder="Surname">
                <br>
                <input name="email" class="keys" type="text" placeholder="Email Address">
                <br>
                <input name="password" class="keys" type="text" placeholder="Password">
                     <br>
                <input name="confirmpassword" class="keys" type="text" placeholder="Confirm Password">
                <h3 class="name">Birthday</h3>
                <input type="date" class="" name="date" placeholder="date"/>
                <h3 class="name">Gender</h3>
                <input name="gender" value="female" type="radio">
                <label class="na">Female</label>
                <input name="gender" value="male" type="radio">
                <label class="na">Male</label>
                <input name="gender" value="custom" type="radio">
                <label class="na">Custom</label>
                <p class="parags">
                    By clicking Sign Up, you agree to our<span style="color:blue" ;>Terms, Data Policy</span>and<span style="color:blue"> Cookie Policy.</span> You may receive SMS notifications from us and can opt out at any time.

                </p>
                <input class="btn" type="submit" value="Submit">
                <p><span style="color:blue" ;>Create a Page for</span> a celebrity, band or business.</p>
            </div>
        </div>

    </div>

    <div footer>

        <p class="final"><span style="color: #90949c;" ;>English (UK)</span> &nbsp; മലയാള &nbsp;   தமிழ் &nbsp;  తెలుగు &nbsp;   বাংল &nbsp;   हिन्दी &nbsp;  ಕನ್ನಡ &nbsp; Español &nbsp;  Português&nbsp; (Brasil) &nbsp; Français &nbsp; (France) </p>
        <hr>
        <p class="final">SignUp &nbsp;  LogIn &nbsp;  Messenger &nbsp;  FacebookLite &nbsp;  Watch  &nbsp; People  &nbsp; Pages &nbsp;  Page &nbsp; categories &nbsp;  Places &nbsp;   Games &nbsp;  Locations &nbsp;  Marketplace &nbsp; Groups  &nbsp;Instagram</p>
        <p class="final">
            Local   Fundraisers &nbsp;  Services &nbsp;  About &nbsp;   Create &nbsp; adCreate &nbsp;  Page &nbsp;  Developers &nbsp;  Careers &nbsp;  Privacy &nbsp;  Cookies &nbsp;  AdChoices &nbsp;  Terms &nbsp;   Helps
        </p>
    </div>
    <p class="finals">Facebook © 2020<p>

{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js" ></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>


</body>
</html>