.bg-dark{
      background-color:#04207e !important;
   }
   .navbar-brand{

      font-weight:bold;
      font-family:monospace;
      font-size:38px;
   }
   .navbar-dark .navbar-nav .nav-link{

       font-weight:700;
       font-size:14px;
       text-transform:uppercase;

   }
   .navbar-dark .navbar-nav .nav-item{

   }

h1{
  color: silver;
  text-shadow: 3px 2px red;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;

}

#customers td, #customers th {
  border: 1px solid #000000;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #white;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightblue;
  color: white;
}